.container {

}

.userContainer {
    display: inline-flex;
}

.ava img {
    height: 80px;
    width: 80px;

    border-radius: 50%;
}

.avaBody {


    width: 120px;
    min-height: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bodyMessage {
    width: 350px;
    min-height: 100px;

    border-radius: 5px;
    border: solid black 1px;

    margin: 10px;
    padding: 5px;


    display: flex;
    justify-content: space-between;
}


.name {
    align-items: flex-start;
    display: flex;
    justify-content: start;
    height: 20px;
    min-width: 250px;
}

.status {
    display: flex;
    justify-content: end;

}

.text {
    align-items: flex-end;
    display: flex;
    min-height: 80px;
}

.status {
    text-overflow: ellipsis;
}

.selectedPage {
    font-weight: bold;
}


.bodyMessage2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
    word-break: break-word;
}